*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
}

button{
    padding: 20px;
    font-size: 2.5rem;
    cursor: pointer;
}

#resetButton{
    padding: 5px 10px;
    font-size: 1.2rem;
    background: green;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    margin-top: 10px;
}